@import "tailwindcss";

@layer utilities {
  .bg-gradient-60 {
    background-image: linear-gradient(
      60deg,
      rgb(220, 0, 0),
      rgb(0, 0, 190),
      rgb(255, 0, 0)
    );
  }
}

@theme {
  --color-kino-black: #1a1a1a;
  --color-kino-white: #f6f6f6;
  --color-kino-grey: #a8a8a8;
  --color-kino-darkgrey: #2d2d2d;
  --color-kino-red: #fc263a;
  --color-kino-darkred: #a72224;
  --color-kino-green: #64dd17;
  --color-kino-darkgreen: #154e10;
  --color-kino-yellow: #ffca28;
  --font-poppins: "Poppins";
}

html {
  background-color: var(--color-kino-black);
  color: var(--color-kino-white);
  font-family: var(--font-poppins, sans-serif);
}

body {
  max-width: 1280px;
  margin: auto;
}
